
firstPhase/.vscode/


firstPhase/commentStack.o

firstPhase/linkedList.o

firstPhase/scanner

firstPhase/scanner.c

firstPhase/scanner.o

*.o

*.swp
kiagias/

secondPhase/calc

secondPhase/parser.c

secondPhase/parser.h

secondPhase/scanner.c

phase3/calc

phase3/parser.c

phase3/parser.h

phase3/scanner.c

phase3/.vscode/
